main {
  text-align: center;
}

.keyboard {
  width: 900px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid gray;
  background-color: #eee;
  margin-top: 100px;
  border-radius: 15px;
}


.box {
  width: 55px;
  height: 55px;
  display:inline-block;
  border: solid 1px gray;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  line-height: 55px;
}

.box-active {
  width: 55px;
  height: 55px;
  display:inline-block;
  border: solid 1px gray;
  background-color: slategray;
  margin: 5px;
  border-radius: 10px;
  line-height: 55px;
}

.z {
  position: relative;
  right: 775px;
  top: 67px;
  height: 54px;
}


